#image-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    margin-bottom: 80px;
}
.image-module {
    width: 320px;
    padding: 10px;
    background: white;
    border: 1px solid grey;
    margin-right: 10px;
}
.image-module:hover {
    border: 1px solid blue;
}
.loading-text {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
}